<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clínica_Goncalo_Silva_CET68.Properties.Settings.ClinicaVeterinariaConnectionString"
            connectionString="Data Source=DESKTOP-DVEKTTS;Initial Catalog=ClinicaVeterinaria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>